*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: #000;
}
h1,h2,h3,h4,h5,h5,p{
        margin:0px;
        padding:0px;
}

.clearfix::after{
    display: block;
    content: " ";
    clear: both;
}
/*start header*/
.header{
    background-image:url("../images/banner.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    color: #fff;
}

.blue{
    background-color: cornflowerblue;
}

.navigation ul{
    float: right;
    width:50%;
  
}

.navigation li{
    float: left;
    padding:10px 30px;
    list-style: none;
    text-transform: uppercase;
}

.navigation li a{
    color: #fff;
    text-decoration: none;
}

.navigation .logo{
    float: left;
    width:50%;
    text-align: center;
}
.navigation .logo h1{
    text-transform: uppercase;
}
.navigation{
    background-color: blue;
}

.containt{
    padding-top:20%;
    text-align: center;
}

.containt p{
        padding:10px 80px;

}
.containt h1{
    font-size:45px;
}

.btn{
    background-color: cornflowerblue;
    padding:10px 30px;
    border: none;
    border:1px solid cornflowerblue;
    border-radius:5px;
}

/*close header*/

/*start three-section*/
.three-section{
  
    color:#fff;
    text-align: center;
    width:90%;
    margin:0 auto;
}
.three-1 h1{
    padding:20px 0px;
}
.three-1 button{
    margin:10px 0px;
}
.three-1 p{
    color: #565656;
    padding:20px 0px;
}
.three-1 .fa{
    font-size: 45px;
}
.three-1{
   
    width:25%;
    float: left;
    margin-left:6%;
}
/*close three-section*/

.two-part{
    color: #726c6c;
    width:90%;
    margin:0 auto;
}


/*start left-part*/
.left-part{
   
    width:65%;
    float: left;
}
.left-1 p{
        padding:15px 0px 20px 0px;
        line-height:25px;
}
.left-1 img{
        width:100%;
}

.left-1 button{
     margin-left:10px;
}

.left-1 a{
    color: #fff;
}

.left-left{
    width:50%;
   
    float: left;
    color: #565656;
}
.left-left h1{
    padding:10px 10px;
    text-transform: capitalize;
    color: #fff;
}
.left-para{
        padding:15px 0px 25px 0px;
        
}

.border{
        margin:0 auto;
        border-bottom:1px solid #726c6c;
        margin-bottom:10px;
        width:95%;
        
}


.left-right{
    width:50%;
  
    float: left;
}

.left-right h1{
     color: #fff;
     text-transform: capitalize;
     padding:10px 0px 0px 10px;
}
.left-right h5{
        padding:0px 10px;
        color: #fff;
}

.left-right p{
    color: #565656;
    padding:25px 0px;
} 
/*close left-part*/
/*start right*/
.right{
    width:30%;
   
    float: right;
}
.right-1 h3{
         text-align: center;
         padding:10px 0px 5px 0px;
         color: #fff;
         text-transform: capitalize;
}
.right-2 h3{
    text-align: center;
    padding:10px 0px 5px 0px;
    color: #fff;
}
.right-1  p{
       color:#726c6c;
       line-height:25px;
       padding:0px 15px;
}
.right-2 p{
    color:#726c6c;
    line-height:25px;
    padding:0px 15px;
}

.right-1{
    width:45%;
    float: left;
}

.right-2{
    width:45%;
    float:right;
}

.heading{
    color: #fff;
    padding:20px 0px 10px 0px;   
    clear: both;
}


.imgage{
    width:30%;
    float:left;
}

.para{ 
    float: right;
    width:70%;  
}

hr{
    color:#726c6c;
    background-color: #726c6c; 
    margin:0 auto;
    border:1px solid;
}

.para p{
    margin:25px 10px;
}
.imgage img{
    width:100%;
    margin:15px 0px;
    border-radius:10px;
}
/*close right*/


/*start footer*/
.footer{

    width:90%;
    margin:0 auto;
    text-transform: capitalize;
    text-align: center;
    color: #726c6c;
}
.footer p{
    padding:20px 0px;
}
.footer a{
    color: #fff;
}
/*close footer*/


/*start media */

@media only screen and (max-width:1200px){
     .navigation li{
         font-size:10px;
         padding:10px 30px;
     }
     .containt h1{
         font-size:35px;
     }
     .containt p{
         font-size:15px;
     }
     .navigation .logo{
         width:40%;
     }
    .navigation ul{
             width: 60%;
   }

}
@media only screen and (max-width:1000px){
    .left-part{
        width:100%;
    }
    .right{
        width: 100%;
    }
    .navigation li{
        font-size:10px;
        padding:10px 30px;
    }
}

@media only screen and (max-width:850px){
    .navigation li{
        font-size:10px;
        padding:10px 12px;
        
    }

    .logo h1{
        font-size:20px;
    }
    .containt h1{
        font-size:25px;
    }
    .containt p{
        font-size:15px;
    }
    .three-1{
        width:100%;
        margin-left:0px;
    }
    .left-part{
        width:100%;
    }
    .right{
        width: 100%;
    }
    
}

@media only screen and (max-width:760px){
    .left-left h1{
        color:blue;
    }
    .left-left{
        width:100%;
    }
    .left-right{
        width:100%;
    }
    .navigation li{
        font-size:8px;
        padding:10px 12px;
        
    }

}
